.App {
  text-align: center;
}
 
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(76, 76, 104);
  color: white;
  min-height: 5vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
 list-style: none;
}